@{
    ViewBag.Title = "Contact Cotton Induestrics Inc.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5628 Smith Rd.<br />
    Navarre, Oh 44662<br />
    <abbr title="Phone">P:</abbr>
    330.904.8055
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rojorn@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">kl.kimberly@gmail.com</a>
</address>