@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cotton Industries Inc.</h1>
    <p class="lead">Leading the way in Chemical and Industrial Supplies.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chemical Clean Up</h2>
        <p>Cotton Industries will come to your factory to gather your chemically stained rags. Once gathered, they will be cleaned and returned in a timely manner. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Induestrial Supplies</h2>
        <p>Industrial Supplies on a one time or repeat order. Delivery to on-site factory available.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rosi's Rides</h2>
        <p> Amish Uber service based out of Navarre Ohio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>